.bl-background {
    background: #cdcbcb;
    padding: 20px;

}

/*
лист покупок
*/
.bl-list {
    background: white;
    border: 1px solid gray;
    float: left;
    width: 60%;
    height: 228px;
    display: inline-block;
    font-family: Arial, serif;
    margin: 2.5%;
    border-radius: 1.4%;
}

/*
лист купити
 */
.buy-list {
    background: white;
    border: 1px solid gray;
    width: 30%;
    height: 200px;
    float: right;
    display: inline-block;
    font-family: Arial, serif;
    margin: 2.5%;
    border-radius: 1.4%;

}

/*
лист купленого
 */
.bought-list {
    background: white;
    border: 1px solid gray;
    width: 30%;
    float: right;
    display: inline-block;
    padding: 1%;
    margin: 3px;
    font-family: Arial, serif;

}

/*Кнопки*/
.bl-label {
    height: 32px;
    width: 20%;
    background: #2185D0;
    font-family: Arial, serif;
    color: white;
    float: right;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border: 0;
    padding: 0;
    display: inline;
}

.input-field {
    height: 30px;
    width: 79.65%;
    float: left;
    padding: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    color: #cdcbcb;
    border: 1px solid #cdcbcb;
    display: inline;
}

.bl-plus {
    background: #04a613;
}

.main {
    width: 1000px;
    height: 240px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: row;
    justify-content: center;

    padding-top: 6%;
}

.add {
    margin-left: 10%;
    margin-top: 2%;
}

.bottomBorder {
    padding: 10px;
    height: 36px;
    border-bottom: 1px solid #cdcbcb;

}

.left {
    width: 32.5%;
    height: 100%;
    display: inline-block;
    box-sizing: border-box;
    position: relative
}

.center {
    width: 32.5%;
    height: 100%;
    display: inline-block;
    box-sizing: border-box;
    position: relative
}

.right {
    width: 32.5%;
    height: 100%;
    display: inline-block;
    box-sizing: border-box;
    position: relative
}

.tomatoes {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%)
}

.minus {
    text-align: center;
    height: 100%;
    width: 20%;
    background: #DB2828;
    font-family: Arial, serif;
    font-size: 20px;
    color: white;
    border-radius: 50px;
    border: none;
    display: inline;
    position: absolute;
}

.plus {
    text-align: center;
    height: 100%;
    left: 39%;
    width: 20%;
    background: #21BA45;
    font-family: Arial, serif;
    font-size: 20px;
    color: white;
    border-radius: 50px;
    border: none;
    display: inline;
    position: absolute;
}

.value {
    position: absolute;
    left: 23%;
    top: 10%;
    width: 10%;
    height: 60%;
    margin: auto;

}

.bought-button {
    margin: auto;
    position: absolute;
    left: 30%;
    height: 90%;
    width: 40%;
    border-radius: 10%;
    background: linear-gradient(transparent, rgba(0, 0, 0, .05)) #F8F8F8;
    color: rgba(0, 0, 0, .6);
}

.cross {
    text-align: center;
    height: 90%;
    width: 18%;
    left: 75%;
    background: #DB2828;
    font-family: Arial, serif;
    font-size: 20px;
    color: white;
    border-radius: 10%;
    border: none;
    display: inline;
    position: absolute;
}

.left-buyList {
    width: 100%;
    height: 15%;
    border-bottom: 1px solid gray;
    float: left;
    font-family: Arial, serif;
    font-size: 18px;
    font-weight: bold;
    padding-top: 10px;
    display: inline-block;
}

.not-bought {
    width: 93.5%;
    height: 25%;
    padding: 10px;
    border-bottom: 1px solid gray;
    display: inline-block;
    font-size: 13px;
}

.products-not-bought {
    display: inline-block;
    background: #cdcbcb;
    padding: 6px;
    border-radius: 5px;

}

.tomat {
    display: inline-block;
}

.number {
    display: inline-block;
    background: orange;
    width: 16px;
    text-align: center;
    border-radius: 9px;
}

.bought {
    width: 100%;
    height: 15%;
    border-bottom: 1px solid gray;
    float: left;
    font-family: Arial, serif;
    font-size: 18px;
    font-weight: bold;
    padding-top: 10px;
    display: inline-block;
}
