/*
Розміри html задля позиціонування
*/
html {
    height: 100%;
}

/*
Бекграунд
*/
body {
    background: #cdcbcb;
    padding: 20px;
    height: 92%;
}

button {
    outline: none;
}

/*
Головний блок, в якому розміщені всі елементи
*/
.main {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: row;
    justify-content: center;

    padding-top: 6%
}

/*
Лист покупок  (основний)
*/
.bl-list {
    background: white;
    border: 1px solid gray;
    float: left;
    width: 60%;
    font-family: Arial, serif;
    margin: 2.5%;
    border-radius: 1.4%;
    height: max-content;
}

/*
Лист купити
 */
.buy-list {
    background: white;
    border: 1px solid gray;
    width: 31%;
    height: fit-content;
    min-height: 200px;
    overflow: auto;
    float: right;
    display: inline-block;
    font-family: Arial, serif;
    margin: 2.5% 1.5% 1.5%;
    border-radius: 1.4%;
}

/*
Кнопка додавання товару
*/
.bl-label {
    height: 32px;
    width: 20%;
    background: #2185D0;
    font-family: Arial, serif;
    color: white;
    float: right;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border: 0;
    padding: 0;
    display: inline;
}

/*
Поле введення назви нового товару
*/
.input-field {
    height: 30px;
    width: 79.65%;
    float: left;
    padding: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: 1px solid #cdcbcb;
    display: inline;
}

/*
Блоки на які розподілено основний лист покупок
(в кожному блоці зберігається товар, або стрічка для додавання товару)
*/
.list-line {
    padding: 10px;
    height: 36px;
    border-bottom: 1px solid #cdcbcb;
    transition: all 3s ease-in-out;
    display: none;
}


/*
Блок в якому знаходиться додавання товарів
*/
.add-line {
    padding: 10px;
    height: 36px;
    border-bottom: 1px solid #cdcbcb;
}

/*
Ліва частина блоку list-line, в ній розміщено назву товару
(застосовується лише до товарів)
*/
.left {
    width: 32.5%;
    height: 100%;
    display: inline-block;
    box-sizing: border-box;
    position: relative
}

/*
Центральна частина блоку list-line, в ній розміщено лічильник товарів
(застосовується лише до товарів)
*/
.center {
    width: 32.5%;
    height: 100%;
    display: inline-block;
    box-sizing: border-box;
    position: relative
}

/*
Права частина блоку list-line, в ній розміщено кнопку куплено та кнопку видалення товару
(застосовується лише до товарів)
*/
.right {
    width: 32.5%;
    height: 100%;
    display: inline-block;
    box-sizing: border-box;
    position: relative
}

/*
Блок в якому розміщено назву товару
*/
.product-label {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    border: none;
    background: white;
}

/*
Знак мінус у лічильнику
*/
.minus {
    text-align: center;
    height: 100%;
    width: 20%;
    background: #DB2828;
    font-family: Arial, serif;
    font-size: 20px;
    color: white;
    border-radius: 50%;
    border: none;
    display: inline;
    position: absolute;
}

/*
Знак плюс у лічильнику
*/
.plus {
    text-align: center;
    height: 100%;
    left: 39%;
    width: 20%;
    background: #21BA45;
    font-family: Arial, serif;
    font-size: 20px;
    color: white;
    border-radius: 50%;
    border: none;
    display: inline;
    position: absolute;
}

/*
Власне блок поля введнення лічильника
*/
.value {
    position: absolute;
    left: 23%;
    top: 10%;
    width: 10%;
    height: 60%;
    margin: auto;
    text-align: center;
    border-radius: 20%;
    box-shadow: none;
}

/*
Кнопка "Куплено"
*/
.bought-button {
    position: absolute;
    left: 20%;
    height: 90%;
    width: 50%;
    border-radius: 10%;
    background: linear-gradient(transparent, rgba(0, 0, 0, .05)) #F8F8F8;
    color: rgba(0, 0, 0, .6);
}

/*
Кнопка "Куплено" після натискання
*/
.bought-button-clicked {
    margin: auto;
    position: absolute;
    left: 30%;
    height: 90%;
    width: 40%;
    border-radius: 10%;
    background: linear-gradient(transparent, rgba(0, 0, 0, .05)) #F8F8F8;
    color: rgba(0, 0, 0, .6);
}

/*
Кнопка видалення товару (червона з хрестиком)
*/
.cross {
    text-align: center;
    height: 90%;
    width: 18%;
    left: 75%;
    background: #DB2828;
    font-family: Arial, serif;
    font-size: 20px;
    color: white;
    border-radius: 10%;
    border: none;
    display: inline;
    position: absolute;
}

/*
Блок з написом "Залишилося" у листі куппити
*/
.left-to-buy-label {
    width: 100%;
    height: 15%;
    border-bottom: 1px solid gray;
    float: left;
    font-family: Arial, serif;
    font-size: 18px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
}

/*
Лист товарі що залишилося купити знаходиться під блоком left-to-buy-label
*/
.left-to-buy-list {
    width: 93.5%;
    min-height: 40px;
    height: auto;
    padding: 10px;
    border-bottom: 1px solid gray;
    display: inline-block;
    font-size: 13px;
}


/*
Лист товарі що куплені знаходиться під блоком bought-label
*/
.bought-list {
    width: 93.5%;
    height: auto;
    padding: 10px;
    display: inline-block;
    font-size: 13px;
}

/*
Блок в якому знакодиться назва товару, що потрібно купити та кількість
Знаходятся ці блоки в left-to-buy-list
*/
.left-to-buy-product {
    display: none;
    background: #cdcbcb;
    padding: 6px;
    border-radius: 5px;
    margin-bottom: 6px;
    margin-right: 7px;


}

.left-to-buy-product-label {
    display: inline-block;
}

/*
Блок в якому знаходится кількість товару, що потрібно купити (обведена в оранжеве коло)
Знаходяться ці блоки в left-to-buy-product
*/
.left-to-buy-product-number {
    display: inline-block;
    background: orange;
    width: 16px;
    text-align: center;
    border-radius: 8px;
}

/*
Блок в якому знаходиться великий напис Куплено
*/
.bought-label {
    width: 100%;
    height: 15%;
    max-height: 15%;
    border-bottom: 1px solid gray;
    float: left;
    font-family: Arial, serif;
    font-size: 18px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
}

/*
Поле для бейджа
*/
.badge-field {
    width: auto;
    height: 29.9%;
    padding-left: 5%;
    padding-top: 10%;
    position: relative;

}

/*
Бейдж
*/
.badge {
    background-color: darkmagenta;
    color: white;
    padding-top: 1%;
    width: 100px;
    height: 40px;
    font-family: Arial, serif;
    font-size: 16px;
    text-align: center;
    border-top-right-radius: 10%;
    border-top-left-radius: 10%;
    position: fixed;
    top: 94%;
    transition: all 1.5s ease-in-out;
}

/*
Напис "buy list" на бейджі
*/
.badge.buy-list {
    display: block;
}

/*
Напис "created by" на бейджі
*/
.badge-created-by {
    margin-top: 3%;
    font-size: 10px;
    position: relative;
    opacity: 0;
    transition: all 1.5s;
}

/*
Напис "Danil Malyi" на бейджі
*/
.badge-name {
    font-size: 14px;
    margin-top: 5%;
    opacity: 0;
    transition: all 1.5s;
}

/*
Бейдж при наведенні мишкою (3 настпупні стилі)
Бейдж виростає в висоту та зявляються написи created by та name
*/
.badge:hover {
    background-color: blue;
    top: 88%;
    height: 11%;
    transition: all 1.5s ease-in-out;
}

.badge:hover .badge-created-by {
    opacity: 1;
    transition: all 1.5s;
    transition-delay: 1s;
}

.badge:hover .badge-name {
    opacity: 1;
    transition: all 1.5s;
    transition-delay: 1s;
}

/*
Зміни в вигляді документа при друку
*/
@media print {
    .badge {
        border: 5px solid darkmagenta;
        background-color: #cdcbcb;
    }

    .badge-buy-list {
        display: none;
    }

    .badge-name {
        opacity: 1;
    }
}

/*
Зміни при ширені екрану менше 500px
*/
@media (max-width: 748px) {
    .main {
        display: block;
        float: left;
    }

    .buy-list {
        float: left;
    }

}

/*
Зміни при висоті екрану менше 500px
*/
@media (max-height: 500px) {
    .badge {
        display: none;
    }
}

/*
Видалення стрілок зміни числа на input типу number в Chrome
*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}