.bl-background {
    background: #cdcbcb;
    padding: 20px;

}

/*
лист покупок
*/
.bl-list {
    background: white;
    border: 1px solid gray;
    float: left;
    width: 50%;
    display: inline-block;
    font-family: Arial, serif;
    padding: 10px;
}

/*
лист купити
 */
.buy-list {
    background: white;
    border: 1px solid gray;
    width: 30%;
    float: right;
    display: inline-block;
    margin: 3px;
    font-family: Arial, serif;
}

/*
лист купленого
 */
.bought-list {
    background: white;
    border: 1px solid gray;
    width: 30%;
    float: right;
    display: inline-block;
    padding: 1%;
    margin: 3px;
    font-family: Arial, serif;

}

/*Кнопки*/
.bl-label {
    height: 32px;
    width: 60px;
    background: #2185D0;
    font-family: Arial, serif;
    color: white;
    float: right;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border: 0;
    padding: 0;
}

.input-field {
    height: 30px;
    width: 438px;
    float: left;
    padding: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    color: #cdcbcb;
    border: 1px solid #cdcbcb;
}

.bl-plus {
    background: #04a613;
}

.main {
    width: 1000px;
    height: 240px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: row;
    justify-content: center;

    padding-top: 6%;
}

.add {
    margin-left: 10%;
    margin-top: 2%;
}

.center {
    background: white;
    width: 100%;
    /*Вирівнює елемент по центру*/
    margin: auto;
    /*Ширина екрану після якої з’являться
    поля*/
    max-width: 700px;
}